body {background-color:#dbd2e3;
      width: 70%;
      margin: 0 auto}
h2 {font-family: sans-serif}
.column {float: left;
         width: 33.33%;
         height:250px;
         background-color:white}
.row:after {content: "";
            display: table;
            clear:both}
.column2 {float: left;
          width: 33.33%;
          height:150px;
          background-color:white}
ul {padding-left: 20%}
button {background-color: #e6f3f8;
        padding-left: 10px;
        padding-right:10px;
        padding-top:5px;
        padding-bottom:5px}
button:hover {background-color:#d6ecf3}
#backbutton {float:right;
             color:black;
             background-color:white;
             font-family:sans-serif;
             padding-top:1px;
             padding-bottom:1px;
             padding-left:2px;
             padding-right:2px;
             border-width:1px;
             border-style:solid}}
#backbutton:hover {background-color:#F0F0F0}
#chooseordie {font-size:25px}